*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Roboto,sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
}

/* HEADER */
.header{
  height:56px;
  background:#0f0f0f;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 16px;
  position:fixed;
  width:100%;
  border-bottom:1px solid #222;
  z-index:1000;
}

.left,.center,.right{
  display:flex;
  align-items:center;
}

.logo{
  color:red;
  font-size:20px;
  font-weight:bold;
  margin-left:10px;
}

.center input{
  width:400px;
  padding:8px;
  background:#121212;
  border:1px solid #303030;
  color:white;
  border-radius:20px 0 0 20px;
}

.center button{
  padding:7px 12px;
  border:none;
  background:#303030;
  border-radius:0 20px 20px 0;
  color:white;
}

.right span{
  margin:0 10px;
  cursor:pointer;
}

.profile{
  background:red;
  padding:6px 10px;
  border-radius:50%;
}

/* SIDEBAR */
.sidebar{
  position:fixed;
  top:56px;
  left:0;
  width:220px;
  height:100%;
  background:#0f0f0f;
  padding-top:10px;
  border-right:1px solid #222;
}

.sidebar-item{
  display:flex;
  align-items:center;
  padding:12px 20px;
  cursor:pointer;
}

.sidebar-item span{
  margin-right:15px;
}

.sidebar-item:hover,
.sidebar-item.active{
  background:#272727;
}

/* MAIN CONTENT */
.main{
  margin-left:220px;
  padding-top:70px;
  padding-left:20px;
}

/* CHIPS */
.chips{
  display:flex;
  gap:10px;
  padding-bottom:10px;
}

.chip{
  padding:6px 12px;
  background:#272727;
  border-radius:20px;
  font-size:14px;
  cursor:pointer;
}

.chip.active{
  background:white;
  color:black;
}

/* VIDEOS GRID */
.videos{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
  gap:20px;
  margin-top:20px;
}

.video img{
  width:100%;
  border-radius:12px;
}

.video-info{
  display:flex;
  margin-top:10px;
}

.channel{
  border-radius:50%;
  margin-right:10px;
}

.video h4{
  font-size:14px;
}

.video p{
  font-size:12px;
  color:#aaa;
}